.container-2 {
  display: inline-block;
  margin: 15px;
}

.image {
  width: 300px;
  height: 150px;
}

p {
  text-align: center;
  font-size: 18px;
}

.container {
  /*padding: 30px;
  margin: 30px;*/
  text-align: center;
}


.searcher {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.list {
  display: inline-block;
}

.categories {
  text-align: center;
  padding: 10px 0;
}

hr{
  border:         none;
  border-left:    1px solid #777;
  height:         80vh;
  width:          1px;
}
