<div class="container">
  <h1 class="my-4">Product List
    <small><a [routerLink]="['/categories']">All categories</a></small>
  </h1>

  <!-- <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Categories
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Art</a></li>
        <li><a href="#">Contemporary Art</a></li>
        <li><a href="#">Design</a></li>
      </ul>
    </div> -->


  <div class="searcher">
    <label for="products"><i class="material-icons middle">search</i></label>
    <input [(ngModel)]="product" placeholder="        Search.." type="text">
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | filter : 'title' : product | filter: 'category' ">
      <div class="thumbnail">
        <img [src]="'http://localhost:3000' + product.image" class="image">
        <div class="caption">
          <h4>{{product.title}}</h4>
            <span class="label label-default">{{ product.category }}</span>          
          <p>${{product.price}}</p>
          <p><a [routerLink]="['../','product', product._id]" class="btn btn-default" role="button">See details</a> <a (click)="getProductData(product)" class="btn btn-default" role="button">Add to Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="categories">
    <a [routerLink]="['../','product-create']" class="btn btn-default">Create Product</a>
  </div>
</div>
