.container-2 {
  display: inline-block;
  margin: 15px;
}

.image {
  width: 80px;
  height: 150px;
}

p {
  text-align: center;
  font-size: 18px;
}

.container {
  /*padding: 30px;
  margin: 30px;*/
  text-align: center;
}


.searcher {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
