<div class="container">
  <h1 class="my-4">Product List
    <small><a [routerLink]="['/categories']">All categories</a></small>
  </h1>

  <div class="searcher">
    <label for="products"><i class="material-icons middle">search</i></label>
    <input [(ngModel)]="product" placeholder="        Search.." type="text">
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products | filter : 'title' : product">
      <div class="thumbnail">
        <img [src]="product.image" class="image">
        <div class="caption">
          <h4>{{product.title}}</h4>
            <span class="label label-default">{{ product.category }}</span>
          <p>${{product.price}}</p>
          <p>
            <a [routerLink]="['../','product', product._id]" class="btn btn-default" role="button">See details</a>
            <a [routerLink]="['/artist-list']" class="btn btn-default" role="button">Author</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="categories">
    <a [routerLink]="['../','product-create']" class="btn btn-default">Upload Artwork</a>
  </div> -->
</div>
