<div class="container col-lg-12">

  <div class="col-lg-3">

    <ul class="breadcrumb">
      <li><a href="#">Categories</a></li>
      <li><a href="#">Contemporary Art</a></li>
      <li class="active">Artworks</li>
    </ul>

    <div class="searcher">
      <label for="products"> Search: </label>
      <input [(ngModel)]="product" placeholder="" type="text">
    </div>

    <a [routerLink]="['../','product-create']" class="btn btn-primary">Create Product</a>
    
  </div>

  <div class="col-md-9">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" *ngFor="let product of products | filter : 'title' : product">
          <img [src]="product.image" height="300">
          <div class="caption">
            <h4>{{product.title}}</h4>
            <p>${{product.price}}</p>
            <p><a [routerLink]="['../','product',product.id]" class="btn btn-primary" role="button">See details</a> <a [routerLink]="['/cart']" class="btn btn-default" role="button">Add to Cart</a></p>
          </div>
        </div>
      </div>
  </div>

    <ul class="pagination pagination-lg">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
</div>
