
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">ALL ABOUT ART</h1>
    <h4 class="heading">Let's AAA inspire you and enjoy the art you are looking for!</h4>
    <a [routerLink]="['/product-list']" class="btn btn-default btn-lg">See all artworks</a>
  </header>


  <h2>Trending <i class="material-icons">dashboard</i></h2>

  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="thumbnail">
        <img class="card-img-top" src="./assets/art1.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Fils Fine Art</h4>
          <p class="card-text">Christian Megert - Farbduett mit Spiegel</p>
        </div>
        <div class="card-footer">
          <a href="http://localhost:4200/product/59df9a7238982b0f3fac16e0" class="btn btn-default">See Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="thumbnail">
        <img class="card-img-top" src="./assets/art2.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Wallspace</h4>
          <p class="card-text">"Central Avenue" Kymm Swank Solo Show</p>
        </div>
        <div class="card-footer">
          <a href="http://localhost:4200/product/59df9a7238982b0f3fac16e1" class="btn btn-default">See Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="thumbnail">
        <img class="card-img-top" src="./assets/art3.png" alt="">
        <div class="card-body">
          <h4 class="card-title">After Bansky</h4>
          <p class="card-text">Screenprint in colours on wove paper</p>
        </div>
        <div class="card-footer">
          <a href="http://localhost:4200/product/59df9a7238982b0f3fac16e2" class="btn btn-default">See Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="thumbnail">
        <img class="card-img-top" src="./assets/art4.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Eduardo Hoffmann</h4>
          <p class="card-text">Mixed technique on canvas</p>
        </div>
        <div class="card-footer">
          <a href="http://localhost:4200/product/59df9a7238982b0f3fac16e3" class="btn btn-default">See Details</a>
        </div>
      </div>
    </div>

  </div>

    <hr>

  <div class="row text-center cta">
    <div class="col-md-8">
      <h4>Discover worldwide art</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-default btn-lg btn-block" [routerLink]="['/categories']">Show me more</a>
    </div>
  </div>

    <hr>

  <blockquote class="blockquote">
      <p>Painting is a language of its own. You cannot interpret one form of expression with another form of expression.</p>
      <small>Marcel Duchamp</small>
  </blockquote>

  <!-- <div class="row grey">
    <div class="col-lg-12">
      <p>fnbib</p>
    </div>
  </div> -->

</div>
