h2 {
  text-align: center;
  color: #2196f3;
  padding: 30px;
}


.slider {
  height: 500px;
  width: 800px;
}

.btn {
  margin: 10px;
}

.cta {
  margin: 80px;
}

.card-img-top {
  width: 250px;
  height: 150px;
}
