
<div class="container" *ngIf='productToShow'>

  <h1 class="title">{{ productToShow.title }}
    <small>{{ productToShow.artist }}</small>
  </h1>

  <div class="row">
    <div class="col-md-8">
      <img [src]="'http://localhost:3000' + productToShow.image" class="img">
    </div>

    <div class="col-md-4">
      <h3>Product Description</h3>
        <p>{{productToShow.description}}</p>
      <h3>Price</h3>
        <p>$ {{productToShow.price}}</p>

        <p>
          <a href="#buyModal" data-toggle="modal" class="btn btn-default btn-lg" role="button">Love it!</a> 
          <!-- <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Bottom</button>            -->
          <a *ngIf="user.role==='Seller'" [routerLink]="['/product/edit', id]" class="btn btn-default">Edit Product</a>
          <a *ngIf="user.role==='Seller'" (click)="deleteProduct()" class="btn btn-sm btn-danger" role="button">Delete</a>
        </p>
    </div>
  </div>

  <h3 class="title">Related Products</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
  </div>
<!-- 
  <div>
    <app-review></app-review>
  </div> -->
</div>



  

  <!-- <ul>
    <li>{{ review.name }}: {{ review.description }}</li>
  </ul> -->
