
<h3> Product details </h3>

<div class="container">

  <div class="row col-lg-6">
    <div class="">
      <div class="thumbnail">
        <img [src]="productToShow.image" class="image">
        <div class="caption">
          <h3>{{productToShow.title}}</h3>
          <h5><b>Price:</b> ${{productToShow.price}}</h5>
          <p><b>Description:</b> {{productToShow.description}}</p>
          <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Pujar</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-lg-6">

  </div>

  <!-- <h4>{{productToShow.title}}</h4>

    <img [src]="productToShow.image" class="image">

    <div class="container-fluid">
      <img [src]="productToShow.image" class="detail-image">
      <img [src]="productToShow.image" class="detail-image">
      <img [src]="productToShow.image" class="detail-image">
    </div>

  <p><b>Price:</b> ${{productToShow.price}}</p>

  <p><b>Description:</b> {{productToShow.description}}</p>

  <div class="container">
    <a (click)="buy()" class="btn btn-primary">Buy</a>
    <a (click)="bet()" class="btn btn-primary">Pujar</a>
    <a (click)="editProduct()" class="btn btn-success lg">Edit Product</a>
  </div>

  <h5>Reviews:</h5>
  <ul>
    <li>{{ review.name }}: {{ review.description }}</li>
  </ul> -->



</div>
