
.container {
  /*padding: 30px;
  margin: 30px;*/
  text-align: center;
}

.btn {
  background-color: blue;
  color: #FFF;
  border-radius: 10px;
}

.image {
  width: 200px;
  height: 300px;
}

p {
  text-align: center;
  font-size: 18px;
}
