
<h3> Product details </h3>
<!-- <a [routerLink]="['']"> Back to list </a>

<div *ngIf="product">
  <div class="product-thumbnail">
    <img height="300" [src]="product.image" />
  </div>
  <button (click)="deleteProduct()">Delete this product</button>
  <div class="product-info">
    <h2> {{ product.title }}&nbsp;</h2>
    <h3> {{ product.price }} </h3>

    <div *ngIf="product.specs.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let spec of product.specs"> {{ spec&nbsp;}} </li>
      </ul>
    </div>
  </div>
</div> -->

<div class="container">
  <h4>{{productToShow.title}}</h4>
    <img [src]="productToShow.image" class="image">
  <p><b>Price:</b> ${{productToShow.price}}</p>

  <p><b>Description:</b> {{productToShow.description}}</p>

    <a (click)="goHome()" class="btn btn-primary">Home</a>
</div>
