<form >
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
    <br>
  <label> Name </label>
  <input type="name" [(ngModel)]="formInfo.name" name="name"/>
    <br>
  <label> Email </label>
  <input type="email" [(ngModel)]="formInfo.email" name="email"/>
    <br>
  <button (click)="signup()" class="btn btn-success"> signup </button>

  <p>Do you have an account?</p>
  <button [routerLink]="['/login']" class="btn btn-primary btn-sm">Login</button>

</form>
