    <div class="container">
      <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
          <h1 class="my-4">Categories
            <!-- <small>All</small> -->
          </h1>

          <div class="card" *ngFor="let product of products">
            <img class="card-img" [src]="'http://localhost:3000' + product.image">
            <div class="thumbnail">
              <h2>{{product.category}}</h2>
              <a [routerLink]="['/product-list']" class="btn btn-default">Show me more &rarr;</a>
            </div>
          </div>

        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
