    <div class="container">
      <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
          <h1 class="my-4">Categories
            <small>Categories</small>
          </h1>

          <div class="card">
            <img class="card-img" src="http://placehold.it/750x300" alt="">
            <div class="thumbnail">
              <h2>Categorie</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Enter &rarr;</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img" src="http://placehold.it/750x300" alt="">
            <div class="thumbnail">
              <h2>Categorie</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Enter &rarr;</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img" src="http://placehold.it/750x300" alt="">
            <div class="thumbnail">
              <h2>Categorie</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Enter &rarr;</a>
            </div>
          </div>

        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
