<div class="container">
    <div *ngIf="!user">
      <h3>You need to log in</h3>
      <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    </div>

  <div *ngIf="user">
    <h1 class="title">Name
      <small>{{ user.username }}</small>
    </h1>

  <div class="row">
    <div class="col-md-8">
      <img src="{{user.pic_path}}" class="avatar" />
    </div>

    <div class="col-md-4">

        <div>
          <h4>Username:</h4> <p>{{user.username}}</p>
        </div>
        <div>
          <h4>Role:</h4> <p>{{ user.role }}</p>
        </div>
        <div>
          <h4>E-mail:</h4> <p>{{ user.email }}</p>
        </div>
        <div>
          <h4>Member since:</h4> <p>{{ user.created_at | date:'dd/MM/yyyy' }}</p>
        </div>

        <p>
          <a [routerLink]="['/user/edit-profile', user._id]" class="btn btn-primary">Edit Profile</a>
          <button (click)="auth.logout().subscribe()" class="btn btn-success"> Logout </button>
          <button (click)="delete()" class="btn btn-danger"> Delete my Profile </button>

        </p>
    </div>
  </div>
</div>
</div>
