
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand logo" [routerLink]="['/']">AAA</a> -->
      <img src="./assets/logo-aaart2.png" class="navbar-brand logo" [routerLink]="['/']" />
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" aria-expanded="true"  *ngIf="!isLoggedIn">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink='/login'>Login</a></li>
          <li><a [routerLink]="['/signup']">Sign up</a></li>

          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/product-list']">Products</a></li>
          <li><a [routerLink]="['/categories']">Categories</a></li>
          <li><a [routerLink]="['/artist-list']">Artists</a></li>

          <li class="divider-2"><a>|</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle username" data-toggle="dropdown" role="button" aria-expanded="true">{{ user.username }}</a>
            <ul class="dropdown-menu" role="menu">
              <li><a [routerLink]="['/user']">My Profile</a></li>
              <li class="divider"></li>
              <li><a [routerLink]="['/user/edit-profile', user._id]">Edit profile</a></li>
              <li class="divider"></li>
              <li><a (click)="auth.logout().subscribe()">Logout</a></li>
            </ul>
          </li>


          <li>
            <a [routerLink]="['/user']">
              <i class="material-icons">fingerprint</i>
            </a>
          </li>
        </ul>

    </div>

  </div>
</nav>
