/*.navbar {
  background-color: red;
  margin: 0;
  padding: 20px;
}

a {
  margin: 20px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}

.searcher {
  width: 200px;
  height: 20px;
}*/

span {
  color: #FFF;
}

.logo {
  margin-right: 20px;
}

.navbar-brand {
  height: 60%;
  width: 60%;
}

.username {
  text-transform: uppercase;
  vertical-align: middle;
}

.divider-2 {
  vertical-align: middle;
}

.caret {
  color: #999;
  margin: 0 5px;
}
